:root{
    --cor0:#20242c;
    --cor1:#2e476d;
    --cor2:#22608d;
    --cor3:#3278fa;
    --botao:#29a00c;
    --price:#BEEE11;
    --font:#FFFFFF;
    --fdest:#DCDEDF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: var(--cor3);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
    'hglob hglob hglob'
    'holder holder holder'
    'cont cont cont'
    'footer footer footer'
    ;
}
.header-global{
    background-color: var(--cor0);
    grid-area: hglob;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav-prim{
    background-color: var(--cor0);
    grid-area: nav;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
} 
nav > a{
    display: inline-block;
    color: var(--fdest);
    text-decoration: none;
}
.nav-prim::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--fdest);
    transition: width .3s;
}
.nav-prim:hover::after{
    width: 100%;
}
.holder{
    background-color: var(--cor1);
    grid-area: holder;
    height: 80vh;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}
.nav-loja{
    margin-top: 2vh;
    width: 60vw;
    height: 5vh;
    background-image: linear-gradient(90deg ,var(--cor2), var(--cor3),rgb(0, 12, 36));
    box-shadow: #20242c 0px 5px 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.barra{
    display:flex;
    width: 18vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
}
#bpesquisa{
    background-color: var(--cor1);
    color: var(--font);
    padding: 0.5vw;
    width: 15vw;
    height: 3vh;
    border: 0px;
}
#lupinha{
    background-color: var(--cor1);
    background-image: url(/projeto-1/icons8-lupa-32.png);
    background-repeat: no-repeat;
    background-position-y:3px ;
    background-size: 20px 20px;
    border: 0px;
    width: 2vw;
    height: 3vh;
}
.conteudo{
    background-color: var(--cor1);
    grid-area: cont;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.destaques{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    background-color: var(--cor0);
    grid-area: footer;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--font)
}