:root{
    --cor0:#171A21;
    --cor1:#002c6d;
    --cor2:#6094b8;
    --cor3:#316fe4;
    --botao:#29a00c;
    --price:#BEEE11;
    --font:#FFFFFF;
    --fdest:#DCDEDF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: var(--cor3);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    'hglob hglob hglob'
    'holder holder holder'
    'cont cont cont'
    'footer footer footer'
    ;
}
.header-global{
    background-color: var(--cor0);
    grid-area: hglob;
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    background-color: var(--cor5);
    border: double 5px;
    border-radius: 50%;

}
.nav-prim{
    background-color: var(--cor0);
    grid-area: nav;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
} 
nav > a{
    display: inline-block;
    color: var(--fdest);
    text-decoration: none;
}
a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--cor2);
    transition: width .3s;
}
a:hover::after{
    width: 100%;
}
.holder{
    background-color: var(--cor1);
    grid-area: holder;
    height: 600px;
    display: flex;
    flex-flow:column wrap;
}
.conteudo{
    background-color: var(--cor1);
    grid-area: cont;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: var(--cor0);
    grid-area: footer;
    height: 50px;
}