:root{
    --cor0:#20242c;
    --cor1:#2e476d;
    --cor2:#22608d;
    --cor3:#3278fa;
    --botao:#29a00c;
    --price:#BEEE11;
    --font:#FFFFFF;
    --fdest:#DCDEDF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: var(--cor3);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    'hglob hglob hglob'
    'holder holder holder'
    'cont cont cont'
    'footer footer footer'
    ;
}
/* Inicio header */
.header-global{
    background-color: var(--cor0);
    grid-area: hglob;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.logo img{
    width: 10vw;
    height: 6vh;
}
.nav-prim{
    background-color: var(--cor0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    grid-area: nav;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
} 
.hmenu{
    display: inline-block;
    color: var(--fdest);
    text-decoration: none;
}
.hmenu::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--fdest);
    transition: width .3s;
}
.hmenu:hover::after{
    width: 100%;
}

.menu{
    margin-bottom: 38px;
    font-size: 11px;
    width: 288px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 3px;
}
.install{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 127px;
    height: 24px;
    background-color: var(--botao);
    color: var(--font);
    font-size: 11px;
}
.lmenu{
    color: var(--fdest);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.lmenu:hover{
    color: var(--font);
}
/* Fim header */
/* Inicio holder */
.holder{
    background-image: url(IMGs/maetSholder.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    grid-area: holder;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
    padding-top: 12px;
}
.nav-loja{
    margin-top: 1vh;
    width: 60vw;
    height: 5vh;
    background-image: linear-gradient(90deg, #6094b8, #316fe4, #002c6d);
    border-radius: 1vh;
    box-shadow: #20242c 0px 5px 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-loja a{
    font-size: 1em;
    display: inline-block;
    color: var(--fdest);
    text-decoration: none;
}
.barra{
    display:flex;
    width: 18vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
}
#bpesquisa{
    background-color: var(--cor1);
    color: var(--font);
    padding: 0.5vw;
    width: 15vw;
    height: 3vh;
    border: 0px;
}
#lupinha{
    background-color: var(--cor1);
    background-image: url(IMGs/lupinha.png);
    background-repeat: no-repeat;
    background-position-y:3px ;
    background-size: 20px 20px;
    border: 0px;
    width: 2vw;
    height: 3vh;
}
/* Fim holder */
.conteudo{
    background-color: var(--cor1);
    grid-area: cont;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Inicio slider */
.destaques{
    width: 80vw;
    height: 60vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width: 80%;
    height: 12vh;
    background-color: var(--cor0);
    box-shadow: 5px 0 4rem black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font);
    border: var(--cor2)solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#slider {
    width: 100%;
    max-width: 80%;
    height: 60vh;
    max-height: 100%;
    position: relative;
    box-shadow: 5px 0 4rem black;
    display: flex;
}
#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    transition: opacity 800ms;
    border: var(--cor2)solid;
}
#slider img.selected { 
    opacity: 1;
}
/* Fim slider */
footer{
    background-color: var(--cor0);
    grid-area: footer;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--font)
}
@media (max-width: 768px){
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-flow:column nowrap;
    }
    .header-global{
        background-color: var(--cor0);
        height: 10vh;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .logo img{
        width: 12vw;
        height: 7vh;
    }
    .nav-prim{
        background-color: var(--cor0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.1em;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 2.3vw;
    } 
    .hmenu::after{
        content: '';
        display: block;
        width: 0;
        height: .5vh;
        background: var(--fdest);
        transition: width .3s;
    }
    .hmenu:hover::after{
        width: 100%;
    }
    
    .menu{
        margin-bottom: 1vh;
        font-size: .6em;
        width: 30vw;
        height: 3vh;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        gap: .6vw;
    }
    .install{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12vw;
        background-color: var(--botao);
        color: var(--font);
        font-size: 1.1em;
    }
    .destaques{
        width: 80vw;
        height: 60vh;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .holder{
        height: 65vh;
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
        
    }
    .nav-loja{
        margin-top: 1vh;
        width: 80vw;
        height: 5vh;
        display: flex;
        gap: 0;

    }
    .nav-loja a{
        font-size: .9em;
        display: inline-block;
        color: var(--fdest);
        text-decoration: none;
    }
    .barra{
        display:none;
    }
    .text{
        width: 90%;
    }
    #slider {
        width: 100%;
        max-width: 90%;
        height: 100%;
        max-height: 100%;
        position: relative;
        box-shadow: 5px 0 4rem black;
        display: flex;
    }
    #slider img{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 800ms;
        border: var(--cor2)solid;
    }
}
@media (max-width: 576px) {
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-flow:column nowrap;
    }
    .header-global{
        background-color: var(--cor0);
        height: 10vh;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .logo img{
        width: 12vw;
        height: 4vh;
    }
    .text{
        width: 90%;
    }
    .nav-prim{
        background-color: var(--cor0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 2vw;
    } 
    .hmenu::after{
        content: '';
        display: block;
        width: 0;
        height: .2vh;
        background: var(--fdest);
        transition: width .3s;
    }
    .hmenu:hover::after{
        width: 100%;
    }
    
    .menu{
        margin-bottom: 1vh;
        font-size: .6em;
        width: 35vw;
        height: 3vh;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        gap: .6vw;
    }
    .install{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16vw;
        height: 3vh;
        background-color: var(--botao);
        color: var(--font);
        font-size: 1em;
    }
    .destaques{
        width: 80vw;
        height: 40vh;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .holder{
        height: 35vh;
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
        
    }
    .nav-loja{
        margin-top: 1vh;
        width: 90vw;
        height: 5vh;

    }
    .nav-loja a{
        font-size: .9em;
        display: inline-block;
        color: var(--fdest);
        text-decoration: none;
    }
    .barra{
        display:none;
    }
    #slider {
        width: 100%;
        max-width: 90%;
        height: 60vh;
        max-height: 100%;
        position: relative;
        box-shadow: 5px 0 4rem black;
        display: flex;
    }
    #slider img{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 800ms;
        border: var(--cor2)solid;
    }
}
@media (max-width: 400px){
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-flow:column nowrap;
    }
    .header-global{
        background-color: var(--cor0);
        height: 10vh;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .logo img{
        width: 14vw;
        height: 3vh;
    }
    .nav-prim{
        background-color: var(--cor0);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: .8em;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 1.5vw;
    } 
    .hmenu::after{
        content: '';
        display: block;
        width: 0;
        height: .2vh;
        background: var(--fdest);
        transition: width .3s;
    }
    .hmenu:hover::after{
        width: 100%;
    }
    
    .menu{
        margin-bottom: 1vh;
        font-size: .5em;
        width: 30vw;
        height: 3vh;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        gap: .7vw;
    }
    .install{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--botao);
        color: var(--font);
        font-size: .9em;
    }
    .destaques{
        width: 80vw;
        height: 60vh;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .holder{
        height: 30vh;
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
        
    }
    .nav-loja{
        margin-top: 1vh;
        width: 80vw;
        height: 5vh;
        display: flex;
        gap: 0;

    }
    .nav-loja a{
        font-size: .7em;
        display: inline-block;
        color: var(--fdest);
        text-decoration: none;
    }
    .barra{
        display:none;
    }
    .text{
        width: 90%;
    }
    #slider {
        width: 100%;
        max-width: 90%;
        height: 100%;
        max-height: 80%;
        position: relative;
        box-shadow: 5px 0 4rem black;
        display: flex;
    }
    #slider img{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 800ms;
        border: var(--cor2)solid;
    }
}